@charset "UTF-8";
/* 글자가 깨지지 않도록 구문을 적는다. */
/* webfont */

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* html{
    font-size: ;
} */
/*rem단어를 사용할려면 사용하기  */

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: black;
    padding-top: 100px;
}

html,
body {
    position: relative;
    height: 100%;
    background-color: #FFFBE6;
    /* Prevent font scaling in landscape */

    -webkit-text-size-adjust: none;
    /*Chrome, Safari, newer versions of Opera*/

    -moz-text-size-adjust: none;
    /*Firefox*/

    -ms-text-size-adjust: none;
    /*Ie*/

    -o-text-size-adjust: none;
    /*old versions of Opera*/
}

#wrap {
    min-width: 1360px;
}

/* fixed */
#fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* header_s */
#header {
    width: 1300px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tel ul {
    display: flex;
}

.tel img {
    display: block;
}

.tel {
    font-weight: 600;
    border: 1px solid #007CC6;
    border-radius: 20px;
    background-color: #007CC6;
    padding: 8px 12px;
    color: white;
}

.tel ul li:nth-child(1) {
    margin-right: 5px;
}

.gnb {
    display: flex;
    padding-top: 38.01px;
}

.gnb>li>a {
    display: block;
    margin: 0 45px;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 42px;
}

.gnb>li>a:hover {
    color: #007CC6;
}

/* submenu */
.submenu {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    z-index: 9;
    background-color: rgba(150, 150, 150, 0.9);
    /* 백그라운드 컬러 */
    display: none;
}

.gnb li:hover .submenu {
    display: block;
}

.inner_submenu {
    width: 1300px;
    margin: 0 auto;
    display: flex;
}

.inner_submenu a {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
}

.inner_submenu a ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sub2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
    color: white;
}

.sub li:nth-child(1) {
    margin-right: 50px;
}

.sub2 li:nth-child(2),
.sub2 li:nth-child(3) {
    margin-right: 50px;
}

/* header_e */

/* banner_s */
#banner {
    background: url(../images/sub/sub1-2/sub1-2_banner.jpg) no-repeat center;
    height: 600px;
}

.inner_banner {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 600px;
}

.inner_banner p {
    font-size: 80px;
    font-weight: bold;
    color: white;
    line-height: 97px;
    opacity: 0.6;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

/* banner_e */

/* section1_s */
#section1 {
    width: 1300px;
    margin: 100px auto;
}

.section_title {
    display: flex;
    justify-content: center;
}

.section_title p {
    font-size: 36px;
    font-weight: 800;
    color: white;
    background-color: #FF986E;
    border-radius: 20px;
    padding: 23px 33px;
}

.section1contents_wrap,
.section2contents_wrap {
    margin-top: 75px;
}

.section1contents_flex,
.section2contents_flex {
    display: flex;
    justify-content: space-between;
}

.section1contents_flex li,
.section2contents_flex li {
    width: 400px;
    height: 430px;
    box-sizing: border-box;
}

.cover h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.cover p {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}

/* cover */
.cover_wrap {
    position: relative;
    overflow: hidden;
}

.cover {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    align-items: flex-start;
    opacity: 0;
    /*A key*/
    transition: opacity 0.5s;
    padding: 20px 30px;
    box-sizing: border-box;
}

.cover_wrap:hover .cover {
    opacity: 1;
    /*B key*/
}

.cover h2 {
    transform: translateY(60px);
    /*A key*/
    transition: transform 0.5s;
}

.cover_wrap:hover .cover h2 {
    transform: translateY(0px);
    /*B key*/
}

.cover p {
    transform: translateY(60px);
    /*A key*/
    transition: transform 0.5s;
}

.cover_wrap:hover .cover p {
    transform: translateY(0px);
    /*B key*/
}

.img_wrap img {
    width: 100%;
    display: block;
    transform: scale(1);
    /*A key*/
    transition: transform 0.5s;
}

.cover_wrap:hover .img_wrap img {
    transform: scale(1.2);
    /*B key*/
}

/* section1_e */

/* section2_s */
#section2 {
    width: 1300px;
    margin: 0 auto;
}

/* section2_e */

/* section3_s */
#section3 {
    width: 1300px;
    margin: 100px auto;
    overflow: hidden;
}

.section3_wrap1 {
    margin-top: 75px;
}

.hotel_box {
    background: url(../images/sub/sub1-2/section3_bg.png) no-repeat top 75px center;
    height: 1445px;
    position: relative;
}

/* 공통꾸미기 */
.hotel_text h2,
.hotel_text1 h2,
.hotel_text2 h2,
.hotel_text3 h2,
.hotel_text4 h2,
.hotel_text5 h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hotel_text ul li,
.hotel_text1 ul li,
.hotel_text2 ul li,
.hotel_text3 ul li,
.hotel_text4 ul li,
.hotel_text5 ul li {
    list-style: circle;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    margin-left: 20px;
}

/* 다른꾸미기 */
.n1 {
    position: absolute;
    top: 141px;
    left: 654px;
}

.t1 {
    position: absolute;
    top: 47px;
    right: -20px;
}

.n2 {
    position: absolute;
    top: 338px;
    left: 459px;
}

.t2 {
    position: absolute;
    top: 255px;
    left: -20px;
}

.n3 {
    position: absolute;
    top: 533px;
    right: 458px;
}

.t3 {
    position: absolute;
    top: 449px;
    right: -20px;
}

.n4 {
    position: absolute;
    top: 727px;
    left: 459px;
}

.t4 {
    position: absolute;
    top: 644px;
    left: -20px;
}

.n5 {
    position: absolute;
    top: 923px;
    right: 460px;
}

.t5 {
    position: absolute;
    top: 839px;
    right: -20px;
}

.n6 {
    position: absolute;
    top: 1119px;
    left: 459px;
}

.t6 {
    position: absolute;
    top: 1038px;
    left: -20px;
}

.hotel_text {
    position: absolute;
    top: 160px;
    right: 100px;
    z-index: 1;
}

.hotel_text1 {
    position: absolute;
    top: 150px;
    right: 80px;
    z-index: 1;
}

.hotel_text2 {
    position: absolute;
    top: 160px;
    right: 85px;
    z-index: 1;
}

.hotel_text3 {
    position: absolute;
    top: 160px;
    right: 55px;
    z-index: 1;
}

.hotel_text4 {
    position: absolute;
    top: 160px;
    right: 80px;
    z-index: 1;
}

.hotel_text5 {
    position: absolute;
    top: 145px;
    right: 60px;
    z-index: 1;
}

/* section3 animation */
@keyframes ani1 {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* .hotel_box>ul>li:nth-child(1) {
    opacity: 0;
    animation: ani1 1s linear forwards;
    animation-delay: 1s;
} */

@keyframes ani2 {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* .hotel_box>ul>li:nth-child(2) {
    opacity: 0;
    animation: ani2 1s linear forwards;
    animation-delay: 2s;
} */

@keyframes ani3 {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* .hotel_box>ul>li:nth-child(3) {
    opacity: 0;
    animation: ani3 1s linear forwards;
    animation-delay: 3s;
} */

@keyframes ani4 {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* .hotel_box>ul>li:nth-child(4) {
    opacity: 0;
    animation: ani4 1s linear forwards;
    animation-delay: 4s;
} */

@keyframes ani5 {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* .hotel_box>ul>li:nth-child(5) {
    opacity: 0;
    animation: ani5 1s linear forwards;
    animation-delay: 5s;
} */

@keyframes ani6 {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* .hotel_box>ul>li:nth-child(6) {
    opacity: 0;
    animation: ani6 1s linear forwards;
    animation-delay: 6s;
} */

/* section3_e */

/* footer_s */
#footer {
    background-color: #2D4110;
    height: 422px;
    box-sizing: border-box;
}

.inner_footer {
    width: 1300px;
    margin: 0 auto;
    padding-top: 63px;
    display: flex;
    justify-content: space-between;
}

.logo_box {
    width: 84px;
}

.textbox {
    width: 1110px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.textbox>ul {
    display: flex;
    justify-content: space-between;
}

.inf_wrap {
    width: 347px;
}

.sup_wrap {
    width: 343px;
}

.fol_wrap {
    width: 258px;
}

.fol_wrap div ul li {
    margin-top: 20px;
}

.icon_wrap {
    width: 40px;
    height: 40px;
}

.icon_wrap img {
    display: block;
    width: 100%;
}

.i_bar ul li span {
    border: 1px solid white;
    display: inline-block;
    height: 10px;
}

.i_bar1 {
    margin: 0 20px;
}

.i_bar2 {
    margin-right: 20px;
}

.socal_icon {
    display: flex;
    justify-content: space-between;
}

.socal_icon li:hover {
    filter: invert(100);
}

/* footer_e */

/* .topBtn */
.topBtn {
    width: 70px;
    height: 70px;
    background-color: #2f6979;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9;
    cursor: pointer;
    color: white;
}

.topBtn:hover {
    background-color: red;
}