@charset "UTF-8";
/* 글자가 깨지지 않도록 구문을 적는다. */
/* webfont */

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* html{
    font-size: ;
} */
/*rem단어를 사용할려면 사용하기  */

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: black;
    padding-top: 100px;
}

html,
body {
    position: relative;
    height: 100%;
    background-color: #FFFBE6;
       /* Prevent font scaling in landscape */

       -webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/

       -moz-text-size-adjust: none; /*Firefox*/
   
       -ms-text-size-adjust: none;  /*Ie*/
   
       -o-text-size-adjust: none; /*old versions of Opera*/
}

#wrap {
    min-width: 1360px;
}

/* fixed */
#fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* header_s */
#header {
    width: 1300px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tel ul {
    display: flex;
}

.tel img {
    display: block;
}

.tel {
    font-weight: 600;
    border: 1px solid #007CC6;
    border-radius: 20px;
    background-color: #007CC6;
    padding: 8px 12px;
    color: white;
}

.tel ul li:nth-child(1) {
    margin-right: 5px;
}

.gnb {
    display: flex;
    padding-top: 38.01px;
}

.gnb>li>a {
    display: block;
    margin: 0 45px;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 42px;
}

.gnb>li>a:hover {
    color: #007CC6;
}

/* submenu */
.submenu {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    z-index: 9;
    background-color: rgba(150, 150, 150, 0.9);
    /* 백그라운드 컬러 */
    display: none;
}

.gnb li:hover .submenu {
    display: block;
}

.inner_submenu {
    width: 1300px;
    margin: 0 auto;
    display: flex;
}

.inner_submenu a {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
}

.inner_submenu a ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sub2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
    color: white;
}

.sub li:nth-child(1){
    margin-right: 50px;
}

.sub2 li:nth-child(2),
.sub2 li:nth-child(3){
    margin-right: 50px;
}

/* header_e */

/* banner_s */
#banner {
    background: url(../images/sub/sub4-1/sub4_1banner.jpg) no-repeat center;
    height: 600px;
    overflow: hidden;
}

.inner_banner {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 600px;
}

.inner_banner p {
    font-size: 80px;
    font-weight: bold;
    color: white;
    line-height: 97px;
    opacity: 0.7;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

/* banner_e */

/* section1_s */
#section1 {
    width: 1300px;
    margin: 75px auto 130px;
    height: 700px;
}

.section_title {
    display: flex;
    justify-content: center;
}

.section_title p {
    font-size: 36px;
    font-weight: 800;
    color: white;
    background-color: #FF986E;
    border-radius: 20px;
    padding: 23px 33px;
    margin-bottom: 75px;
}

.title_wrap h2 {
    background-color: #4CA3D7;
    font-size: 25px;
    font-weight: 700;
    color: white;
    border-radius: 20px;
    width: 120px;
    padding: 13px 0;
    text-align: center;
}

.title_wrap {
    position: relative;
}

.imgbox {
    display: block;
    position: absolute;
    top: -20px;
    left: 0;
}

.textbox1 {
    margin-left: 20px;
}

.textbox1 h2 {
    margin-bottom: 20px;
}

.textbox1 p {
    color: black;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
}

.p1 {
    margin-bottom: 40px;
}

.p2 {
    margin-bottom: 50px;
}

.img_wrap ul li div img {
    display: block;
    width: 150%;
}

.boximg {
    width: 255px;
    height: 227px;
}

.intext {
    width: 200px;
    text-align: center;
}

.intext h2 {
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
}

.intext p {
    font-size: 18px;
    font-weight: 500;
}

.img_wrap {
    position: relative;
    height: 500px;
    margin-bottom: 75px;
}

.box1 {
    position: absolute;
    top: 0;
    left: -30px;
    z-index: 6;
}

.box2 {
    position: absolute;
    top: 0;
    left: 220px;
    z-index: 5;
}

.box3 {
    position: absolute;
    top: 0;
    left: 470px;
    z-index: 4;
}

.box4 {
    position: absolute;
    top: 0;
    left: 710px;
    z-index: 3;
}

.box5 {
    position: absolute;
    top: 0;
    left: 960px;
    z-index: 2;
}

.intextbox_a {
    position: absolute;
    top: 94px;
    left: 60px;
}

.intextbox_b {
    position: absolute;
    top: 94px;
    left: 74px;
    
}

.intextbox_c {
    position: absolute;
    top: 94px;
    left: 74px;
}

.intextbox_d {
    position: absolute;
    top: 94px;
    left: 74px;
}

.intextbox_e {
    position: absolute;
    top: 94px;
    left: 74px;
}

/* section1_animation */
@keyframes ani1 {
    0% {
        opacity: 0;
        transform: translateX(-60px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.ani1 {
    animation: ani1 1s linear forwards;
    opacity: 0;
  
    /* z-index: 6; */
}

.ani2 {
    animation: ani1 1s linear forwards;
    opacity: 0;
    animation-delay: 1s;
}

.ani3 {
    animation: ani1 1s linear forwards;
    opacity: 0;
    animation-delay: 2s;
}

.ani4 {
    animation: ani1 1s linear forwards;
    opacity: 0;
    animation-delay: 3s;
}

.ani5 {
    animation: ani1 1s linear forwards;
    opacity: 0;
    animation-delay: 4s;
}

/* section1_e */


/* section2_s */
#section2 {
    width: 1300px;
    margin: 0 auto;
}

.document_imgwrap {
    width: 360px;
    height: 440px;
    box-sizing: border-box;
}

.doc_box2,
.doc_box3,
.doc_box5 {
    margin-left: 108px;
}

.document_wrap ul li {
    position: relative;
}

.document_textwrap {
    position: absolute;
    top: 177px;
    left: 0;
    width: 360px;
    height: 180px;
    box-sizing: border-box;
}

.document_textwrap h2 {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 58px;
    text-align: center;
}

.document_textwrap p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 35px;
    margin-top: -20px;
}

.document_imgwrap img {
    display: block;
    width: 100%;
}

.doc_box4,
.doc_box5 {
    margin-top: 42px;
    margin-bottom: 130px;
}

.document_wrap ul {
    display: flex;
    flex-wrap: wrap;
}

/* section2_animation */
/* @keyframes ani2 {
    0% {
        opacity: 0;
        transform: translateX(-60px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.doc_box1 {
    animation: ani2 1s linear forwards;
    opacity: 0;
}

.doc_box2 {
    animation: ani2 1s linear forwards;
    opacity: 0;
    animation-delay: 1s;
}

.doc_box3 {
    animation: ani2 1s linear forwards;
    opacity: 0;
    animation-delay: 2s;
}

.doc_box4 {
    animation: ani2 1s linear forwards;
    opacity: 0;
    animation-delay: 3s;
}

.doc_box5 {
    animation: ani2 1s linear forwards;
    opacity: 0;
    animation-delay: 4s;
} */


/* section2_e */



/* footer_s */
#footer {
    background-color: #2D4110;
    height: 422px;
    box-sizing: border-box;
}

.inner_footer {
    width: 1300px;
    margin: 0 auto;
    padding-top: 63px;
    display: flex;
    justify-content: space-between;
}

.logo_box {
    width: 84px;
}

.textbox {
    width: 1110px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.textbox>ul {
    display: flex;
    justify-content: space-between;
}

.inf_wrap {
    width: 347px;
}

.sup_wrap {
    width: 343px;
}

.fol_wrap {
    width: 258px;
}

.fol_wrap div ul li {
    margin-top: 20px;
}

.icon_wrap {
    width: 40px;
    height: 40px;
}

.icon_wrap img {
    display: block;
    width: 100%;
}

.i_bar ul li span {
    border: 1px solid white;
    display: inline-block;
    height: 10px;
}

.i_bar1 {
    margin: 0 20px;
}

.i_bar2 {
    margin-right: 20px;
}

.socal_icon {
    display: flex;
    justify-content: space-between;
}

.socal_icon li:hover{
    filter: invert(100);
}

/* footer_e */

/* .topBtn */
.topBtn {
    width: 70px;
    height: 70px;
    background-color: #2f6979;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9;
    cursor: pointer;
    color: white;
}

.topBtn:hover {
    background-color: #6c400c;
}